[proteus]
host     = tryton
port     = 8069
database = c3s
user     = admin
password = admin 

[archivehandling]
# predefined constants for source an destination host
srcuser = c3s
srchost = localhost
srcdir = /home/c3s/archivetest/src/dropped
destuser = c3s
desthost = localhost
destdir = /home/c3s/archivetest/dest

[filehandling]
# prohibit others from ingesting fingerprints into the EchoPrint server:
# (look on the echoprint server API/api.py in class ingest, line 42)
echoprint_server_token=
# here goes the static content for the web service (below are the subpaths)
# this path needs to correspond wiht API_C3SUPLOAD_FILEPATH in api.env!
content_base_path=/ado/tmp/upload
previews_path=previews
excerpts_path=excerpts
# this is the mount for the repertoire processor (below are the subpaths) 
storage_base_path=/ado/tmp/upload
rejected_path=rejected
uploaded_path=uploaded
rejected_path=rejected
previewed_path=previewed
checksummed_path=checksummed
fingerprinted_path=fingerprinted
dropped_path=dropped
