[proteus]
host     = tryton
port     = 8069
database = c3s
user     = admin
password = admin 

[filehandling]
# prohibit others from ingesting fingerprints into the EchoPrint server:
echoprint_server_token=
# here goes the static content for the web service (below are the subpaths):
content_base_path=/ado/tmp
previews_path=previews
excerpts_path=excerpts
# this is the mount for the repertoire processor (below are the subpaths) 
storage_base_path=/ado/tmp/upload
rejected_path=rejected
uploaded_path=uploaded
rejected_path=rejected
previewed_path=previewed
checksummed_path=checksummed
fingerprinted_path=fingerprinted
dropped_path=dropped